li{
    font-size: 2em;
}
ul{
    display: inline-block;
    text-align: left;
}
#csillag{
    font-size: 0.7em;
}
#main{ 
    margin-top: 25px;
    height: 110vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#kep{
    transition: 0.5s;
    height: 10em;
    width: 10em;
    border-radius: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
img:hover{
    transition: 0.5s;
    height: 12em;
    width: 12em;
    background-color: rgba(255,255,255, 1);
}
#szoveg:hover{
    text-decoration: underline;
}